body {
    background-color: rgb(0, 118, 214);
}

.div-radio {
    height: 100px;
    font-size: 34px;
    background-color: rgb(50, 146, 224);
    position: relative;
    text-align: center;
    color: rgb(13, 13, 71);
    box-shadow: 0 0 15px rgb(197, 134, 255);
    border-radius: 5px;
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
}

.div-radio.close {
    display: none;
}

input {
    width: 25px;
    height: 25px;

    margin: 35px 5px 35px 35px;

}

.form-radio {
    width: 100%;

    background-color: rgb(73, 96, 231);
    padding-top: 0%;
    border-radius: 4px;
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
    box-shadow: 0 0 20px rgb(197, 134, 255);
}

.but_zakaz {
    background-color: rgba(0, 106, 155, 0.884);
    width: 150px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-color: rgb(197, 134, 255);
    transition-duration: 0.4s
}

.but_zakaz:hover {
    background-color: #004869;
    color: coral;
}

.message {
    display: none;
}

.message.error {
    display: block;
    color: coral;
    font-weight: bold;
}

.message.success {
    display: block;
    color: rgba(52, 0, 119, 0.726);
    font-weight: bold;
}

.modal {
    display: none;
}

.modal.open {
    display: block;
    background-color: rgb(197, 134, 255);
    align-items: center;
    text-align: center;
    position: fixed;
    top: 30%;
    left: 50%;
    width: 500px;
    height: 259px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border-bottom: 6px solid cyan;
}

.modal-title {
    font-size: 34px;

    padding: 1px 0px 10px;
    color: darkslateblue;
    border-bottom: 3px solid darkcyan;
}

.modal-header {
    padding-top: 5px;
}

.modal-body {
    color: darkslateblue;
    font-size: 22px;
    line-height: 24px;
}

.next {
    border-radius: 4px;
    background-color: cyan;
    width: 60px;
    height: 30px;
    margin: 50px 50px 100px 100px;

}

.close {
    border-radius: 4px;
    background-color: cyan;
    width: 60px;
    height: 30px;

}

.next1 {
    border-radius: 4px;
    background-color: cyan;
    width: 150px;
    height: 50px;
    font-size: 16px;
    text-align: center;
}

.close1 {
    border-radius: 4px;
    background-color: cyan;
    width: 150px;
    height: 50px;
    font-size: 16px;
    text-align: center;

}

.check-status {
    font-size: 34px;
    color: rgb(121, 2, 65);
    display: block;
    background-color: rgb(144, 104, 255);
    padding-top: 45px;
    text-align: center;
    position: fixed;
    top: 30%;
    left: 50%;
    width: 400px;
    height: 150px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border-bottom: 6px solid cyan;

}

.button-p {
    text-align: center;

}