body{
    background-color: rgb(108, 186, 255);
    color: rgb(110, 0, 52);
    align-items: center;
}
button{
    background-color: rgb(8, 123, 255);
    color: rgb(99, 0, 46);
    border-radius: 8px;
    margin-top: 10px;
}
#menu{
    width: 300px;

}
ul>li {
        cursor: pointer;
        width: 200px;
    }

    .selected {
        background-color: pink;
        
    }
